header {
    background-image: url(/images/header.jpg);
}

.logo {
    float: left;
    height: 20px;
    margin-right: 7px;
    width: 20px;
}

hr {
    margin: 30px auto;
}

.bg-dark .panel li {
    color: #000000;
}
