nav#mainNav {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
    width: 25%;
}

div.intro-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

ul.timeline li div.timeline-image {
    background-color: #fff;
}
.about-video{
    margin: 0 0 5.5rem 0;
}
.section-heading{
  padding-bottom: 3rem;
}

p.subtitle {
    margin-top: 2rem;
}
