<dh-content id="header" [dark]="true">
    <div class="header">
        <div>
            <h1>DashboardHub</h1>
            <div class="header__highlights">
                <div><fa-icon icon="check"></fa-icon> Pipeline transparency</div>
                <div><fa-icon icon="check"></fa-icon> Project heartbeat</div>
                <div><fa-icon icon="check"></fa-icon> Open source</div>
            </div>
        </div>
        <img class="header__image" src="https://cdn.dashboardhub.io/mascot/15.png" alt="DashboardHub Mascot" />
    </div>
</dh-content>

<dh-nav>
    <img dhNavImage class="hide__mobile" src="https://cdn.dashboardhub.io/logo/logo-horizontal-std.svg" alt="DashboradHub logo">
    <img dhNavImage class="hide__desktop" src="https://cdn.dashboardhub.io/logo/icon-only-orange.svg" alt="DashboradHub logo">

    <a href="#about"><fa-icon [icon]="['fas', 'file-alt']"></fa-icon></a>
    <a href="#setup"><fa-icon [icon]="['fas', 'cogs']"></fa-icon></a>
    <a href="#open-source"><fa-icon [icon]="['fas', 'lock-open']"></fa-icon></a>
    <a href="#events"><fa-icon [icon]="['far', 'calendar']"></fa-icon></a>
    <a href="#features"><fa-icon [icon]="['fas', 'list']"></fa-icon></a>
    <a href="#team"><fa-icon [icon]="['fas', 'users']"></fa-icon></a>
    <a href="https://pipeline.dashboardhub.io/"><fa-icon [icon]="['fas', 'chart-line']"></fa-icon></a>
</dh-nav>
