.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    &__highlights {
        > * {
            margin: 0.4rem 0;
            line-height: 1.4rem;
        }
    }

    &__image {
        width: auto;
        height: 200px;
    }

    fa-icon {
        margin-right: 0.4rem;
    }

}

.hide {
    &__mobile {
        @media all and (max-width: 799px) {
            display: none
        }
    }

    &__desktop {
        @media all and (min-width: 800px) {
            display: none
        }
    }
}
