<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="navigation">
  <img src="https://cdn.dashboardhub.io/logo/icon-only-orange.svg" alt="DashboradHub logo" mat-card-avatar>
  <span>
    <button mat-button>
      <a href="" target="_blank">GitHub</a>
    </button>
    <button mat-button>
        <a href="" target="_blank">Twitter</a>
    </button>
    <button mat-button>
        <a href="" target="_blank">Instagram</a>
    </button>
    <button mat-button>
        <a href="" target="_blank">LinkedIn</a>
    </button>
    <button mat-button>
        <a href="" target="_blank">YouTube</a>
    </button>
    <button mat-button>
        <a href="" target="_blank">Facebook</a>
    </button>
  </span>
</mat-toolbar>
