<dh-nav>
    <img dhNavImage src="https://cdn.dashboardhub.io/logo/icon-only-orange.svg" alt="DashboardHub logo">

    <a href="https://www.github.com/codemortals/" title="GitHub" target="_blank"><fa-icon [icon]="['fab', 'github']" [fixedWidth]="true" size="lg"></fa-icon></a>
    <a href="https://www.twitter.com/codemortals/" title="Twitter" target="_blank"><fa-icon [icon]="['fab', 'twitter']" [fixedWidth]="true" size="lg"></fa-icon></a>
    <a href="https://www.instagram.com/codemortals/" title="Instagram" target="_blank"><fa-icon [icon]="['fab', 'instagram']" [fixedWidth]="true" size="lg"></fa-icon></a>
    <a href="https://www.linkedin.com/codemortals/" title="LinkedIn" target="_blank"><fa-icon [icon]="['fab', 'linkedin']" [fixedWidth]="true" size="lg"></fa-icon></a>
    <a href="https://www.youtube.com/channel/UCtjddf97i066cJVcloZ4B7g?sub_confirmation=1" title="YouTube" target="_blank"><fa-icon [icon]="['fab', 'youtube']" [fixedWidth]="true" size="lg"></fa-icon></a>
    <a href="https://www.facebook.com/codemortals/" title="Facebook" target="_blank"><fa-icon [icon]="['fab', 'facebook']" [fixedWidth]="true" size="lg"></fa-icon></a>
</dh-nav>
