<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="navigation">
  <img src="https://cdn.dashboardhub.io/logo/icon-only-orange.svg" alt="DashboradHub logo" mat-card-avatar>
  <span>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="About">description</mat-icon>
    </button>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="How it works">phonelink_setup</mat-icon>
    </button>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="Open Source on GitHub">lock_open</mat-icon>
    </button>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="As seen at">streetview</mat-icon>
    </button>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="Features">list</mat-icon>
    </button>
    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="Team">people</mat-icon>
    </button>
  </span>
</mat-toolbar>
