<dh-content id="features">
    <dh-headline>
        <img dhHeadlineImage src="https://cdn.dashboardhub.io/mascot/11.png" alt="DashboardHub Mascot" />
        <h2>Features</h2>
        <p>Current features</p>
    </dh-headline>
    <div class="features">
        <div class="features__item">
            <h4>GitHub Login</h4>
            <p>Simple & secure authentication</p>
        </div>

        <div class="features__item">
            <h4>Unlimited public projects</h4>
            <p>Create as many projects as you need</p>
        </div>

        <div class="features__item">
            <h4>Monitor your project deployments</h4>
            <p>Check your deployments are always running</p>
        </div>

        <div class="features__item">
            <h4>Realtime sync with GitHub</h4>
            <p>When GitHub knows DashboardHub is also aware</p>
        </div>
    </div>
</dh-content>
