<mat-card>
  <mat-card-header>
    <mat-icon aria-hidden="false" aria-label="About" mat-card-avatar>description</mat-icon>
    <mat-card-title>About</mat-card-title>
    <mat-card-subtitle>What is DashboardHub</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
    <p>
      The no-setup, open-source platform that makes your deployment pipeline more transparent by ensuring everybody on
      your team is on the same page. DashboardHub does this by gathering the most relevant, up-to-date information in
      realtime.
    </p>
    <img src="assets/screenshots/dashboard.png" alt="DashboardHub project dashboard screenshot" />
  </mat-card-content>
</mat-card>
