<dh-content id="about">
    <dh-headline>
        <img dhHeadlineImage src="https://cdn.dashboardhub.io/mascot/8.png" alt="DashboardHub Mascot" />
        <h2>About</h2>
        <p>What is DashboardHub</p>
    </dh-headline>
    <div class="content">
        <p>
            The no-setup, open-source platform that makes your deployment pipeline more transparent by ensuring everybody on
            your team is on the same page. DashboardHub does this by gathering the most relevant, up-to-date information in
            realtime.
        </p>
        <img src="/assets/screenshots/dashboard.png" alt="Project dashboard screenshot" />
    </div>
</dh-content>
