<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card>
      <mat-card-header>
          <mat-icon aria-hidden="false" aria-label="As seen at" mat-card-avatar>streetview</mat-icon>
        <mat-card-title>As seen at</mat-card-title>
        <mat-card-subtitle>Events sponsored</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <mat-list>
          <mat-list-item>
            <h4 mat-line>Startup Grind, 2018</h4>
            <p mat-line>London, UK</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>WebSummit, 2018</h4>
            <p mat-line>Lisbon, Portugal</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Fosdem, 2019</h4>
            <p mat-line>Brussels, Belgium</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Web Engineering, 2019</h4>
            <p mat-line>Palma, Spain</p>
          </mat-list-item>
        </mat-list>
        <img class="mascot" src="https://cdn.dashboardhub.io/mascot/5.png" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
