<dh-content id="events">
    <dh-headline>
        <img dhHeadlineImage src="https://cdn.dashboardhub.io/mascot/5.png" alt="DashboardHub Mascot" />
        <h2>As seen at</h2>
        <p>Events sponsored</p>
    </dh-headline>
    <div class="events">
        <div class="events__event">
            <h4>Startup Grind, 2018</h4>
            <p>London, UK</p>
        </div>

        <div class="events__event">
            <h4>WebSummit, 2018</h4>
            <p>Lisbon, Portugal</p>
        </div>

        <div class="events__event">
            <h4>Fosdem, 2019</h4>
            <p>Brussels, Belgium</p>
        </div>

        <div class="events__event">
            <h4>Web Engineering, 2019</h4>
            <p>Palma, Spain</p>
        </div>
    </div>
</dh-content>
