<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card>
      <mat-card-header>
          <mat-icon aria-hidden="false" aria-label="Open source" mat-card-avatar>lock_open</mat-icon>
        <mat-card-title>Open Source</mat-card-title>
        <mat-card-subtitle>GitHub</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <img class="mascot mascot-flip" src="https://cdn.dashboardhub.io/mascot/22.png" />
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
