<dh-content id="open-source">
    <dh-headline>
        <img dhHeadlineImage src="https://cdn.dashboardhub.io/mascot/22.png" alt="DashboardHub Mascot" />
        <h2>Open Source</h2>
        <p>GitHub</p>
    </dh-headline>
    <div class="content">
        <p>Open source is social coding! DashboardHub is all completely open and transparent, with not only the whole codebase
            available but also our project board and meeting notes. Driven by the community, you influence the features you
            want!</p>
        <img src="/assets/screenshots/opensource.png" alt="Open source project on GitHub"/>
    </div>
</dh-content>
