<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">From dev to test to prod and everything in between</h2>
                <hr class="light">
                <p class="text-faded">Reduce the confusion by making your deployment pipeline more transparent</p>
                <a href="https://pipeline.dashboardhub.io" class="btn btn-default btn-xl bounceIn wow">Get Started!</a>
            </div>
        </div>
    </div>
</section>
