<section id="faq" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">FAQ</div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i>Is it really free?</i>
                            <b>Yes, it is really free for Public Repositories</b>
                        </li>
                        <li class="list-group-item">
                            <i>How long is my data stored for?</i>
                            <b>We endeavour to keep data as long as possible, however we do not guarantee any data</b>
                        </li>
                        <li class="list-group-item">
                            <i>Where can I raise questions and ideas?</i>
                            <b>All internal and external discussions and work are tracked in the
                                <a href="https://github.com/DashboardHub/PipelineDashboard/issues">issue section</a> on Github</b>
                        </li>
                        <li class="list-group-item">
                            <i>What setup is required for a Dashboard?</i>
                            <b>No setup required! Just log in with Github</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
