<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your World in One Place</h1>
            <hr>
            <p>Your <b>Delivery Pipeline</b> overview in One Place. Github events / issues / pull requests, TravisCI build status / duration, Scrutinizer  code coverage / quality etc reporting back to your <b>Pipeline Dashboard</b> on DashboardHub.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
