<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your pipeline heartbeat</h1>
            <hr>
            <p>Your <b>Delivery Pipeline</b> overview in One Place. If you are delivering a platform or a library, know exactly <b>WHAT</b>, <b>WHEN</b> and <b>WHERE</b> are being built and deployed, by reporting back to your <b>Pipeline Dashboard</b> <i>(currently in Alpha)</i> on DashboardHub.</p>

            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z0RXBBtosD0"></iframe>
            </div>

        </div>
    </div>
</header>
