<section class="no-padding" id="screenshots">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://pipeline.dashboardhub.io" class="portfolio-box">
                    <img src="/images/screenshots/dashboard.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Demo
                            </div>
                            <div class="project-name">
                                DashboardHub
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/DashboardHub" class="portfolio-box">
                    <img src="/images/screenshots/contributors.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                GitHub
                            </div>
                            <div class="project-name">
                                Contributors
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/DashboardHub" class="portfolio-box">
                    <img src="/images/screenshots/team.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                GitHub
                            </div>
                            <div class="project-name">
                                Team
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
