<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pipeline Dashboard Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>No Setup!</h3>
                    <p class="text-muted">Get up and running immediately. No need to register, use your GitHub login.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-github-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Open Source on GitHub</h3>
                    <p class="text-muted">Completely open and transparent, community driven. You drive the feautures you want.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dashboard wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Pipeline Overview</h3>
                    <p class="text-muted">See your Development Pipeline on a single screen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">As a Best Practice team.  We use it for all our projects too.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Code</h3>
                    <p class="text-muted">Events, Issues, Pull Requests and Code Reviews.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-spinner wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Continuous Integration</h3>
                    <p class="text-muted">Build status, build duration.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Static Code Analysis, Performance</h3>
                    <p class="text-muted">Code rating, Performance metrics.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud-download wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Continuous Deployment</h3>
                    <p class="text-muted">Automatically deploy to Development, Test, UAT etc.</p>
                </div>
            </div>
        </div>
    </div>
</section>
