<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    DashboardHub
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#screenshots">Screenshots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Your World in One Place</h1>
                <hr>
                <p>Your <b>Delivery Pipeline</b> overview in One Place. Github events / issues / pull requests, TravisCI build status / duration, Scrutinizer  code coverage / quality etc reporting back to your <b>Pipeline Dashboard</b> on DashboardHub.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Lots of Services, want an Overview? Look no further.</h2>
                    <hr class="light">
                    <p class="text-faded">GitHub: events, issues, pull requests. Travis: builds, duration. Scrutinizer: code coverage, code quality</p>
                    <a href="http://dashboardhub.io" class="btn btn-default btn-xl bounceIn wow">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Current Pipeline Dashboard Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                        <h3>No Setup!</h3>
                        <p class="text-muted">Get up and running immediately. No need to register, use your GitHub login.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-github-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Open Source on GitHub</h3>
                        <p class="text-muted">Completely open and transparent, community driven. You drive the feautures you want.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-dashboard wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Pipeline Overview</h3>
                        <p class="text-muted">See your Development Pipeline on a single screen.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">As a Best Practice team. We use it for all our projects too.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="screenshots">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://prototype.dashboardhub.io/d/5505d755493564.48070216" class="portfolio-box">
                        <img src="/images/screenshots/dashboard.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Demo
                                </div>
                                <div class="project-name">
                                    DashboardHub
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://github.com/DashboardHub" class="portfolio-box">
                        <img src="/images/screenshots/projects.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    GitHub
                                </div>
                                <div class="project-name">
                                    Organisation and Projects
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://github.com/DashboardHub" class="portfolio-box">
                        <img src="/images/screenshots/team.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    GitHub
                                </div>
                                <div class="project-name">
                                    Team
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>View the Code of all our projects NOW!</h2>
                <a href="https://github.com/DashboardHub" class="btn btn-default btn-xl wow tada">Go to GitHub</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Tweet us or chat to us on Gitter and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-twitter fa-3x wow bounceIn"></i>
                    <p><a href="https://twitter.com/dashboardhub">Twitter: dashboardhub</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-weixin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="https://gitter.im/DashboardHub/PipelineDashboard">Gitter: dashboardhub</a></p>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

  </body>

</html>
