@import '~normalize.css';

$color-brand-primary: #ff5a00;
$color-brand-accent: #3da639;
$color-brand-warning: #c23100;
$color-brand-font: #202328;
$color-brand-font-light: #d4d1c5;

$brand-font: 'Nunito';

html, body {
    font-family: $brand-font, sans-serif;
    font-size: 16px;
    color: $color-brand-font;
    background-color: lighten($color-brand-accent, 50%);

    @media all and (min-width: 800px) {
        font-size: 20px;
    }
}

/* Typography */
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0.2rem 0;
}

h1 {
    font-weight: 300;
    font-size: 2.2em;
    line-height: 1.2em;
}

h2 {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.2em;
}

h3 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2em;
}

h4 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2em;
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2em;
}

a {
    color: $color-brand-font;

    &:hover {
        color: $color-brand-primary;
    }
}
