/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

mat-card {
  mat-card-content {
    img.frame {
      background: #ccc;
      border: 2px solid #666;
      padding: 2px;
      width:100%;
    }

    img.mascot {
      width: 150px;
    }

    img.mascot-flip {
      transform: scaleX(-1);
    }
  }
}
