<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card>
      <mat-card-header>
          <mat-icon aria-hidden="false" aria-label="Team" mat-card-avatar>people</mat-icon>
        <mat-card-title>Team</mat-card-title>
        <mat-card-subtitle>Culture at DashboardHub</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <mat-list>
          <mat-list-item>
            <h4 mat-line>"DashboardHub has adopted a startup culture that promotes inclusivity and flexibility for those involved. A key aspect in making this a successful culture is the adoption of Open Source development in harmony with Remote Working. All of the team at DashboardHub are treated as equals and trusted to perform their tasks autonomously knowing they have the full support of the company's founders."</h4>
            <p mat-line>Andrew Cunliffe, Consultant</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>"Transparency, trust and inclusion are all vital to our team’s success."</h4>
            <p mat-line>Eddie Jaoude, Founder</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>"If you want a truly great team and company culture give people direction and support but ultimately let them get on with it in their own way; DashboardHub gets this balance just right."</h4>
            <p mat-line>Csenge Pal, Marketing Intern</p>
          </mat-list-item>
        </mat-list>
        <img class="mascot" src="https://cdn.dashboardhub.io/mascot/12.png" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
