<dh-content id="team">
    <dh-headline>
        <img dhHeadlineImage src="https://cdn.dashboardhub.io/mascot/12.png" alt="DashboardHub Mascot" />
        <h2>Team</h2>
        <p>Culture at DashboardHub</p>
    </dh-headline>
    <div class="quotes">
        <div class="quotes__entry">
            <p>"DashboardHub has adopted a startup culture that promotes inclusivity and flexibility for those
                involved. A key aspect in making this a successful culture is the adoption of Open Source development in harmony
                with Remote Working. All of the team at DashboardHub are treated as equals and trusted to perform their tasks
                autonomously knowing they have the full support of the company's founders."</p>
            <p>Andrew Cunliffe, Consultant</p>
        </div>

        <div class="quotes__entry">
            <p>"If you want a truly great team and company culture give people direction and support but ultimately
                let them get on with it in their own way; DashboardHub gets this balance just right."</p>
            <p>Csenge Pal, Marketing Intern</p>
        </div>

        <div class="quotes__entry">
            <p>"Transparency, trust and inclusion are all vital to our team’s success."</p>
            <p>Eddie Jaoude, Founder</p>
        </div>
    </div>
</dh-content>
