<dh-header></dh-header>

<dh-about></dh-about>
<dh-works></dh-works>

<mat-card>
  <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Open source" mat-card-avatar>lock_open</mat-icon>
    <mat-card-title>Open Source</mat-card-title>
    <mat-card-subtitle>GitHub</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="As seen at" mat-card-avatar>streetview</mat-icon>
    <mat-card-title>As seen at</mat-card-title>
    <mat-card-subtitle>Events sponsored</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Features" mat-card-avatar>list</mat-icon>
    <mat-card-title>Features</mat-card-title>
    <mat-card-subtitle>Current features</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Team" mat-card-avatar>people</mat-icon>
    <mat-card-title>Team</mat-card-title>
    <mat-card-subtitle>Culture at DashboardHub</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>

<dh-footer></dh-footer>
