<dh-header></dh-header>

<dh-about></dh-about>
<dh-works></dh-works>

<dh-opensource></dh-opensource>

<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card>
      <mat-card-header>
          <mat-icon aria-hidden="false" aria-label="As seen at" mat-card-avatar>streetview</mat-icon>
        <mat-card-title>As seen at</mat-card-title>
        <mat-card-subtitle>Events sponsored</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <img class="mascot" src="https://cdn.dashboardhub.io/mascot/5.png" />
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card>
      <mat-card-header>
          <mat-icon aria-hidden="false" aria-label="Features" mat-card-avatar>list</mat-icon>
        <mat-card-title>Features</mat-card-title>
        <mat-card-subtitle>Current features</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <img class="mascot" src="https://cdn.dashboardhub.io/mascot/11.png" />
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card>
      <mat-card-header>
          <mat-icon aria-hidden="false" aria-label="Team" mat-card-avatar>people</mat-icon>
        <mat-card-title>Team</mat-card-title>
        <mat-card-subtitle>Culture at DashboardHub</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
        <img class="mascot" src="https://cdn.dashboardhub.io/mascot/12.png" />
      </mat-card-content>
    </mat-card>
  </div>
</div>

<dh-footer></dh-footer>
