<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card fxFlex>
      <mat-card-header>
        <mat-icon aria-hidden="false" aria-label="How it works" mat-card-avatar>phonelink_setup</mat-icon>
        <mat-card-title>How it works</mat-card-title>
        <mat-card-subtitle>Workflow and benefits</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout.gt-sm="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
        <mat-vertical-stepper linear="true">
          <mat-step>
            <ng-template matStepLabel>
              Login with GitHub
            </ng-template>
            <p>No need to register, login with your existing GitHub account</p>
            <img class="frame" src="assets/screenshots/dashboard.png" alt="DashboardHub project dashboard screenshot" />
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              Create a project
            </ng-template>
            Step 2
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              Add your repositories to your project
            </ng-template>
            Step 3
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>
              View the heartbeat of your project
            </ng-template>
            Step 4
          </mat-step>
        </mat-vertical-stepper>
        <img class="mascot" src="https://cdn.dashboardhub.io/mascot/20.png" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
