<mat-card>
  <mat-card-header>
    <mat-icon aria-hidden="false" aria-label="How it works" mat-card-avatar>phonelink_setup</mat-icon>
    <mat-card-title>How it works</mat-card-title>
    <mat-card-subtitle>Workflow and benefits</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
