<dh-content id="setup">
    <dh-headline>
        <img dhHeadlineImage src="https://cdn.dashboardhub.io/mascot/20.png" alt="DashboardHub Mascot" />
        <h2>How it works</h2>
        <p>Workflow and benefits</p>
    </dh-headline>
    <div class="setup">
        <h4>Login with GitHub</h4>
        <div class="setup__step">
            <p>No need to register, login with your existing GitHub account</p>
        </div>

        <h4>Create a project</h4>
        <div class="setup__step">
            <p>Create a project with just a "name"</p>
            <img src="/assets/screenshots/create-project.png" alt="Create project screenshot"/>
        </div>

        <h4>Add your repositories to your project</h4>
        <div class="setup__step">
            <p>Select 1 or more repositories</p>
            <img src="assets/screenshots/repositories.png" alt="Choose repositories screenshot"/>
        </div>

        <h4>View the heartbeat of your project</h4>
        <div class="setup__step">
            <p>Watch the overview of your GitHub project. Go to the <a href="https://pipeline.dashboardhub.io/">app now <fa-icon [icon]="['fas', 'chart-line']"></fa-icon></a></p>
            <img src="assets/screenshots/dashboard.png" alt="Dashboard screenshot"/>
        </div>
    </div>
</dh-content>
